*{
    padding: 0;
    margin: 0;
}
.container {
    background: rgb(56,179,136);
background: linear-gradient(324deg, rgba(56,179,136,1) 0%, rgba(57,208,173,1) 0%, rgba(57,176,123,1) 0%, rgba(5,31,38,1) 0%, rgba(99,237,173,1) 85%);
height: 100vh;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 12px;
    flex-direction: column;
    gap: 12px;
}
.main-heading{
    color: white;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    gap: 12px;
}
.header-icon {
    max-height: 24px;
}
.sub-heading {
    color: white;
    font-size: 20px;
}